*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.hidden {
    display: none;
}

.panel {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.enter {
    padding: 20px;
    border-radius: 10px;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
